@model Auction.Web.Models.AllOffersViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <p><strong>@Model.Name</strong></p>
        <p>@Model.Photo</p>
        <p>@Model.Description</p>
        <p>@Model.CurrentPrice</p>
        <p>@Model.TimeLeft</p>
    </div>
</div>
