@model Auction.Web.Models.AllOffersViewModel

@{
    var imgSrc = string.Empty;
    if (Model.Photo != null)
    {
        var base64 = Convert.ToBase64String(Model.Photo);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<div class="panel panel-default" onclick="location.href='@Url.Action("Details", "Offers", new { id = Model.Id})'">
    <div class="row">
        <div class="panel-body col-md-4 text-center">
            <p><strong>@Model.Name</strong></p>
            <img src="@imgSrc" width="100" height="100" />
        </div>
        <div class="panel-body col-md-4">
            <p>@Model.CurrentPrice $</p>
            <p>Valid to: @Model.EndTime</p>
        </div>
        <div class="panel-body col-md-4">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
